/*  HEADEER     */

header img{
    padding-left: 50px;
    width: 70%;
}

h2{
    text-align: center;
    margin-bottom: 25px;
}

nav a{
    font-weight: 600;
    font-size: 150%;
    
}


.navbar-nav li:not(:last-child){
    margin-right: 25px;
    padding-left: 25px;
}

/* Menus Productos y Servicios */
.menuProducto{
    padding-top: 25px;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 25px;    
}


.menuServicios{
    padding-top: 25px;
    padding-left: 250px;
    padding-right: 250px;
}

.servicios{
    align-items: center;
    text-align: center;
    
}

.contenedor{
    margin-right: 350px;
    margin-left: 350px;
    margin-top: 50px;
    padding-top: 25px;
    padding-bottom: 50px;

    border: 4px solid;
    border-radius: 30%;
    align-items: center;
    text-align: center;
    background-color: #E4E4E4;
}

.contenedor p{
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 50px;
    margin-right: 50px;
    
    font-size: 20px ;
}

/* FOOTER */

footer{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E4E4E4;
    margin-bottom: 0px;
}

footer img{
    margin-left: 490px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    width: 5%;
}

.texto{
    padding-top:20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
}